@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
/*Inscrire+Connecter*/
.bx{
  text-align: center;
  padding: 30px;
  margin: 3% auto;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 14px;
  background: #FFF;
  box-shadow: 2px 5px 9.7px 7px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 800px;
}

.main h1 {
  color: #fe6363;
  margin-top: 3%;
  font-family: sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
}

.bx-cnt .bx-sm {
  margin-top: 50px;
  margin-left: 0;
  padding: 0 20px;
}

.bx-cnt label {
  color: #515151;
  text-align: left;
  font-family: "system-ui";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-bottom: 10px;
}

.bx-cnt input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #e6e5e5;
  box-shadow: 3px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
  padding: 0 15px;
  margin-bottom: 20px;
}

.bx-cnt Button {
  width: 100%;
  max-width: 200px;
  height: 60px;
  border-radius: 14px;
  background-color: #1E88E5;
  color: white;
  font-size: 1.2rem;
  margin: 40px auto 0;
  display: block;
}

.bx-cnt .link {
  color: #150063;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-top: 20px;
  display: block;
}
body {
  background: #f0f0f0;
  min-height: 100vh; /* Ensures the gradient covers the full viewport height */
  margin: 0; /* Remove default margin */
  background-attachment: fixed;
}

.showMessage{
  display: block;
  color: white;
  background: #ff0000;
  border-radius: 3px;
  text-align: center;
}
.message {
  display: none;
}
ul{
  margin: 0%;
  padding: 0%;
  list-style: none;
  line-height: 3;
}
ul li a:hover {
  cursor: pointer;
}
.userImage {
  width: 50%;
  max-width: 150px;
  height: auto;
  margin-top: 5%;
  margin-bottom: 15%;
  display: block;
}
p, h3{
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}
p{
  color: #D2CDCD;
  font-size: 1rem;
}
.info-bx {
  text-align: center;
  padding: 1%;
  margin: 90px auto;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 20px;
  background:  #D2CDCD;
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 800px;
}
.info-bx h1{
  color: #1E88E5;
  font-family: sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
}
.info-bx Button{
  width: fit-content;
  padding: 0 2rem;
  height: 40px;
  max-width: 100px;
  border-radius: 7px;
  border: 1px solid #1E88E5;
  background-color: transparent;
  color: #1E88E5;
  font-size: 1rem;
  display: inline-block;
}
.info-bx Button:hover{
  background-color: #1E88E5;
  color: white;
}
#inputs:hover{
  cursor: default;
}
.info-bx .img-btn{
  width: fit-content;
  padding: 1;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #1E88E5;
  background-color: transparent;
  color: #1E88E5;
  font-size: 1rem;
  display: inline-block;
}
.info-bx .img-btn:hover{
  background-color: #1E88E5;
  color: white;
}
.info-bx label{
  text-align: left;
  font-size: 1.4rem;
  color: #515151;
}

/* Navbar*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.homeNav a{
  font-family: "Roboto Flex", sans-serif;
  margin: 0 2rem;
  color: #515151;
  text-decoration: none;
  font-size: 1rem;
}
.homeNav a:hover{
  color: #ffffff;
}
header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #515151;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
@media only screen and (max-width: 1024px) {
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  header .homeNav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fe6363;
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive_nav{
    transform: none;
  }
  header .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  
  }
  .homeNav a{
    font-size: 1.5rem;
  }
  .homeNav .homeBtn{
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #fe6363 !important;
    border-radius: 62px;
    width: 15%;
  
  }
}
.homeNav .homeBtn{
  background-color: #fe6363;
  border-color: #fe6363;
  border-radius: 62px;
  width: 15%;
  margin-right: 10px;
}
.homeNav .homeBtn:hover{
  background-color: #be4d4d;
  border-color: #be4d4d;
  border-radius: 62px;
}
.homeNav .homeBtn.Out {
  background-color: transparent;
  color: #fe6363;
  border-color: #fe6363;
  border-radius: 62px;
}
.homeNav .homeBtn.Out:hover {
  background-color: #fe6363;
  color: #ffffff;
  border-color: #fe6363;
  border-radius: 62px;
}
/*Navbar*/
