@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
  background: #f0f0f0;
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 3;
}

ul li a:hover {
  cursor: pointer;
}

.userImage {
  width: 50%;
  max-width: 150px;
  height: auto;
  margin-top: 5%;
  margin-bottom: 15%;
  display: block;
}

p, h3 {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

p {
  color: #D2CDCD;
  font-size: 1rem;
}

.info-bx {
  text-align: center;
  padding: 1%;
  margin: 90px auto;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D2CDCD;
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 800px;
}

.info-bx h1 {
  color: #1E88E5;
  font-family: sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
}

.info-bx Button {
  width: fit-content;
  padding: 0 2rem;
  height: 40px;
  max-width: 100px;
  border-radius: 7px;
  border: 1px solid #1E88E5;
  background-color: transparent;
  color: #1E88E5;
  font-size: 1rem;
  display: inline-block;
}

.info-bx Button:hover {
  background-color: #1E88E5;
  color: white;
}

#inputs:hover {
  cursor: default;
}

.info-bx .img-btn {
  width: fit-content;
  padding: 1;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #1E88E5;
  background-color: transparent;
  color: #1E88E5;
  font-size: 1rem;
  display: inline-block;
}

.info-bx .img-btn:hover {
  background-color: #1E88E5;
  color: white;
}

.info-bx label {
  text-align: left;
  font-size: 1.4rem;
  color: #515151;
}
