.dark_mode {
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
}

.dark_mode_label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ffffff; /* Blanc */
    border-radius: 200px;
    box-shadow: inset 0px 1px 10px rgba(81, 81, 81, 0.4), /* Gris foncé */
        inset 0px -5px 15px rgba(190, 77, 77, 0.4); /* Rouge foncé */
    cursor: pointer;
    transition: 0.3s;
}
.dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #fe6363, #be4d4d); /* Dégradé rouge */
    border-radius: 180px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
    background: #515151; /* Gris foncé */
}
.dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #be4d4d, #fe6363); /* Dégradé rouge inversé */
}
.dark_mode_label:active:after {
    width: 30px;
}

.dark_mode_label svg {
    position: absolute;
    width: 20px;
    top: 5px;
    z-index: 100;
}
.dark_mode_label svg.sun {
    left: 5px;
    fill: #ffffff; /* Rouge clair */
    transition: 0.3s;
}
.dark_mode_label svg.moon {
    left: 40px;
    fill: #515151; /* Gris foncé */
    transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #ffffff; /* Gris foncé */
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #ffffff; /* Rouge clair */
}
