/* Global styles */
.connect-container {
  max-width: 900px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

/* Left section - Quote */
.connect-left {
  background: url("../assets/background.jpg") center/cover no-repeat;
  color: white;
  text-align: left;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Right section - Login form */
.connect-right {
  background: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Status message */
.showMessage {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

/* Google Sign-in button */
.connect-right button img {
  vertical-align: middle;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .connect-container {
    flex-direction: column;
  }

  .connect-left {
    border-radius: 20px 20px 0 0;
    text-align: center;
  }

  .connect-right {
    border-radius: 0 0 20px 20px;
  }
}

@media (max-width: 480px) {
  .connect-left h2 {
    font-size: 22px;
  }

  .connect-left p {
    font-size: 14px;
  }
  .connect-left {
    border-radius: 20px 20px 0 0;
    text-align: center;
  }
  .connect-right {
    padding: 30px;
  }

  .connect-right h3 {
    font-size: 20px;
  }

  .connect-right p {
    font-size: 14px;
  }

  .connect-right button {
    font-size: 14px;
    padding: 10px;
  }
}
