[data-theme="dark"] .timer{
    color: white !important;
}
.timer{
    margin-left: 1rem;
}
.custom-pagination .page-item .page-link {
    background-color: #ffffff;
    color: #515151;
    border: 1px solid #be4d4d;
  }
  
  .custom-pagination .page-item.active .page-link {
    background-color: #fe6363;
    color: #ffffff;
    border: 1px solid #fe6363;
  }
  
  .custom-pagination .page-item.disabled .page-link {
    background-color: #ffffff;
    color: #be4d4d;
    border: 1px solid #be4d4d;
    opacity: 0.6;
  }
  
  .custom-pagination .page-item .page-link:hover:not(.disabled) {
    background-color: #fe6363;
    color: #ffffff;
    border: 1px solid #fe6363;
  }
  [data-theme="dark"] .button{
    color: #ffffff;
  }